@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    font-family: Raleway, Verdana, 'Helvetica Neue', sans-serif;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

header {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
}

header div {
    padding: 8px;
}

nav {
    background-color: #262626;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#logo img {
    max-height: 120px;
}

section, footer {
    padding: 32px 0;
}

footer p {
    font-size: 0.8em;
    color: grey;
}

section.bg-lightgreen {
    background-color: #E6F2EC; /* #E5F1F1 */
}

section.bg-lightblue {
    background-color: #E6ECF2;
}

section.bg-lightred {
    background-color: #F2E6E6;
}

#zeichnungen {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 16px 0;
}

.carousel-item img {
    display: block;
    max-height: 80vh;
    margin: auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
    .carousel-control-next, .carousel-control-prev {
        transition: opacity .15s ease, background-color .15s ease;
    }

    .carousel-control-next:hover, .carousel-control-prev:hover {
        background-color: rgba(0, 0, 0, 0.3);
        transition: opacity .15s ease, background-color .15s ease;
    }
}

img.anfahrt {
    display: block;
    max-width: 350px;
}

#osm {
    max-width: 425px;
    width: 100%;
    height: 325px;
    border: 1px solid black;
    overflow: hidden;
}

.card {
    margin: 32px 0;
}
